<!DOCTYPE html>
<html>
<head>
	<title>.:Blog:.</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='all.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='all.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='owl.theme.default.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='owl.carousel.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.mmenu.all.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='inner-page-style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
<!-- <body class="full-width"> -->
	<div id="page" class="site">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:info@educationpro.com"><i class="fas fa-envelope"></i> info@educationpro.com</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+840383067320"><i class="fas fa-phone"></i> +84 0383067320</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href="mailto:ask@hoasen.edu.vn"><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href="https://www.facebook.com/iiehsu"><i class="fab fa-facebook-square"></i></a></li>
								<li><a href="https://www.facebook.com/iiehsu"><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href="https://www.youtube.com/watch?v=3YC3d3fl-34"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
						<div class="login-block">
							<a href="/login">Login /</a>
							<a href="">Register</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap">
						<img src="/static/images/site-logo.jpg" alt="Logo Image">
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="/">Home</a></li>
								<li><a href="/event">Event</a></li>
								<li><a href="/courselisting">Course</a></li>
								<li><a href="/gallery2">Opening schedule</a></li>
								<li><a href="/contact">Contact</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Close -->	
		<div class="page-content">
			<div class="container">
				<div class="grid-container" itemscope itemtype=" http://schema.org/Event">
					<div class="grid-box-wrap">
						<div class="grid-img" itemprop="image">
							<img src="/static/images/travel-img.jpg" alt="travel /static/images">
						</div>
						<div class="grid-body">
							<h4 itemprop="date">December 10, 2018 | Author | 0 Comments</h4>
							<h1 itemprop="name">Best Destination to travel this winter</h1>
							<p itemprop="description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>

							<a href="#">read more <i class="fas fa-long-arrow-alt-right"></i></a>
						</div>
					</div>

					<div class="grid-box-wrap">
						<div class="grid-img" itemprop="image">
							<img src="/static/images/travel-img.jpg" alt="travel /static/images">
						</div>
						<div class="grid-body">
							<h4 itemprop="date">December 10, 2018 | Author | 0 Comments</h4>
							<h1 itemprop="name">Best Destination to travel this winter</h1>
							<p itemprop="description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>

							<a href="#">read more <i class="fas fa-long-arrow-alt-right"></i></a>
						</div>
					</div>

					<div class="grid-box-wrap">
						<div class="grid-img" itemprop="image">
							<img src="/static/images/travel-img.jpg" alt="travel /static/images">
						</div>
						<div class="grid-body">
							<h4 itemprop="date">December 10, 2018 | Author | 0 Comments</h4>
							<h1 itemprop="name">Best Destination to travel this winter</h1>
							<p itemprop="description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>

							<a href="#">read more <i class="fas fa-long-arrow-alt-right"></i></a>
						</div>
					</div>

					<div class="grid-box-wrap">
						<div class="grid-img" itemprop="image">
							<img src="/static/images/travel-img.jpg" alt="travel /static/images">
						</div>
						<div class="grid-body">
							<h4 itemprop="date">December 10, 2018 | Author | 0 Comments</h4>
							<h1 itemprop="name">Best Destination to travel this winter</h1>
							<p itemprop="description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>

							<a href="#">read more <i class="fas fa-long-arrow-alt-right"></i></a>
						</div>
					</div>

					<div class="grid-box-wrap">
						<div class="grid-img" itemprop="image">
							<img src="/static/images/travel-img.jpg" alt="travel /static/images">
						</div>
						<div class="grid-body">
							<h4 itemprop="date">December 10, 2018 | Author | 0 Comments</h4>
							<h1 itemprop="name">Best Destination to travel this winter</h1>
							<p itemprop="description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>

							<a href="#">read more <i class="fas fa-long-arrow-alt-right"></i></a>
						</div>
					</div>

					<div class="grid-box-wrap">
						<div class="grid-img">
							<img src="/static/images/travel-img.jpg" alt="travel /static/images">
						</div>
						<div class="grid-body">
							<h4>December 10, 2018 | Author | 0 Comments</h4>
							<h1>Best Destination to travel this winter</h1>
							<p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>

							<a href="#">read more <i class="fas fa-long-arrow-alt-right"></i></a>
						</div>
					</div>

					<div class="grid-box-wrap">
						<div class="grid-img" itemprop="image">
							<img src="/static/images/travel-img.jpg" alt="travel /static/images">
						</div>
						<div class="grid-body">
							<h4 itemprop="date">December 10, 2018 | Author | 0 Comments</h4>
							<h1 itemprop="name">Best Destination to travel this winter</h1>
							<p itemprop="description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>

							<a href="#">read more <i class="fas fa-long-arrow-alt-right"></i></a>
						</div>
					</div>

					<div class="grid-box-wrap">
						<div class="grid-img" itemprop="image">
							<img src="/static/images/travel-img.jpg" alt="travel /static/images">
						</div>
						<div class="grid-body">
							<h4 itemprop="date">December 10, 2018 | Author | 0 Comments</h4>
							<h1 itemprop="name">Best Destination to travel this winter</h1>
							<p itemprop="description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>

							<a href="#">read more <i class="fas fa-long-arrow-alt-right"></i></a>
						</div>
					</div>

				<nav class="navigation pagination">
					<div class="nav-links">
						<a href="#" class="page-numbers">Previous</a>
						<a href="#" class="page-numbers current">1</a>
						<a href="#" class="page-numbers">2</a>
						<a href="#" class="page-numbers">3</a>
						<a href="#" class="page-numbers">Next</a>
					</div>
				</nav>
				</div>
				<aside>
					<div class="news-letter">
						<h2>Newsletter</h2>
						<hr>
						<p>Don't miss a thing! Sign up to receive daily deals.</p>
						<input type="email" name="userEmail" placeholder="Your Email Address...">
						<a href="#">Subscribe now</a>
					</div>
					
					<div class="follow-us">
						<h2>Follow us on</h2>
						<hr>
						<div class="socialmedia">
							<a href="mailto:ask@hoasen.edu.vn"><i class="fab fa-google-plus-g"></i></a></li>
							<a href="https://www.facebook.com/iiehsu"><i class="fab fa-facebook-square"></i></a></li>
							<a href="https://www.facebook.com/iiehsu"><i class="fab fa-facebook-messenger"></i></a></li>
							<a href="https://www.youtube.com/watch?v=3YC3d3fl-34"><i class="fab fa-youtube"></i></a></li>
						</div>
					</div>
					<!-- Follow Us close -->
					<div class="latest-course">
						<h2>Latest Courses</h2>
						<hr>
						<div class="courses-wrap">
								<a href="/courselisting"><img src="/static/images/course1-img.jpg" alt="Course Image">
								<span>$50</span>
								<p>Learn web designing</p></a>
						</div>

						<div class="courses-wrap">
								<a href="/courselisting"><img src="/static/images/ui-designer-vs-ux-designer s.jpg" alt="Course Image">
								<span>$50</span>
								<p>Learn UI designing</p></a>
						</div>

						<div class="courses-wrap">
								<a href="/courselisting"><img src="/static/images/ui-designer-vs-ux-designer s.jpg" alt="Course Image">
								<span>$50</span>
								<p>Learn UX  designing</p></a>
						</div>

						<div class="courses-wrap">
								<a href="/courselisting"><img src="/static/images/react.png" alt="Course Image">
								<span>$25</span>
								<p>Build app with react native</p></a>
						</div>
					</div>
				</aside>
			</div>
		</div>
		<section class="query-section">
			<div class="container">
				<p>Any Queries? Ask us a question at<a href="tel:+840383067320"><i class="fas fa-phone"></i> +84 0383067320</a></p>
			</div>
		</section>
		<!-- End of Query Section -->
		<footer class="page-footer">
			<div class="footer-first-section">
				<div class="container">
					<div class="box-wrap">
						<header>
							<h1>about</h1>
						</header>
						<p>Edugate is a great start for and education. Personnel or oganization to start the online business with 1 click</p>

						<h4><a href="tel:+840383067320"><i class="fas fa-phone"></i> +84 0383067320</a></h4>
						<h4><a href="mailto:info@educationpro.com"><i class="fas fa-envelope"></i> info@educationpro.com</a></h4>
						<h4><i class="fas fa-map-marker-alt"></i>Số 8 Nguyễn Văn Tráng, Hồ Chí Minh, Việt Nam</h4>
					</div>

					<div class="box-wrap">
						<header>
							<h1>Upcoming Class</h1>
						</header>
						<div class="recent-course-wrap">
							<img src="/static/images/ui-ux.jpg" alt="Ui/Ux Designing">
							<a href="/courselisting"><div class="course-name">
								<h3>UI/UX Designer courses</h3>
								<p><span>$50</span> $40</p>
							</div></a>
						</div>
						<div class="recent-course-wrap">
							<img src="/static/images/ui-ux.jpg" alt="Ui/Ux Designing">
							<a href="/courselisting"><div class="course-name">
								<h3>UI/UX Designer courses</h3>
								<p><span>$50</span> $40</p>
							</div></a>
						</div>
					</div>

					<div class="box-wrap">
						<header>
							<h1>quick contact</h1>
						</header>
						<section class="quick-contact">
							<input type="email" name="email" placeholder="Your Email*">
							<textarea placeholder="Type your message*"></textarea>
							<button>send message</button>
						</section>
					</div>

				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2018 &copy; educationpro.com <span> | </span> Theme designed and developed by <a href="https://labtheme.com">Lab Theme</a></p>
				</div>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lightbox.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/all.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flexslider.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.rateyo.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mmenu.all.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js')}}"></script>
</body>
</html>