<!DOCTYPE html>
<html>
<head>
	<title>education</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='all.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='all.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='owl.theme.default.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='owl.carousel.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.mmenu.all.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='inner-page-style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
<!-- <body class="full-width"> -->
	<div id="page" class="site">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:info@educationpro.com"><i class="fas fa-envelope"></i> info@educationpro.com</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+840383067320"><i class="fas fa-phone"></i> +84 0383067320</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href="mailto:ask@hoasen.edu.vn"><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href="https://www.facebook.com/iiehsu"><i class="fab fa-facebook-square"></i></a></li>
								<li><a href="https://www.facebook.com/iiehsu"><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href="https://www.youtube.com/watch?v=3YC3d3fl-34"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
						<div class="login-block">
							<a href="/login">Login /</a>
							<a href="">Register</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap">
						<img src="/static/images/site-logo.jpg" alt="Logo Image">
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="/">Home</a></li>
								<li><a href="/event">Event</a></li>
								<li><a href="/courselisting">Course</a></li>
								<li><a href="/gallery2">Opening schedule</a></li>
								<li><a href="/contact">Contact</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Close -->
		<div class="banner">
			<div class="owl-four owl-carousel">
				<img src="/static/images/baner-1.jpg" alt="Image of Bannner">
				<img src="/static/images/baner-2.jpg" alt="Image of Bannner">
				<img src="/static/images/baner-3.png" alt="Image of Bannner">
			</div>
			<div class="container">
				<h1>WellCome To My Website </h1>
				<h3>Our Website Can Help You Know About The Information Technology </h3>
			</div>
			 <div id="owl-four-nav" class="owl-nav"></div>
		</div>
		<!-- <div class="banner">
			<div class="owl-five owl-carousel owl-theme">
	            <div class="item-video">
            		<iframe width="100%" height="450" src="https://www.youtube.com/embed/ENVW3uZ3a-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            		</iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/0bfk90rWV9U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/ktvTqknDobU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
	            <div class="item-video">
            		<iframe width="100%" height="450" src="https://www.youtube.com/embed/ENVW3uZ3a-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            		</iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/0bfk90rWV9U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/ktvTqknDobU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
          </div>
		</div> -->
		<!-- Banner Close -->
		<div class="page-content" itemscope itemtype=" http://schema.org/Blog">
			<div class="container">
				<article class="page-article" itemprop="blogPost">
					<h1 itemprop="about">Tổng quan về trường Hoa Sen</h1>
					<span><a href="https://www.hoasen.edu.vn/ve-hsu/tong-quan-ve-hsu/" itemprop="author">PGS.TS Võ Thị Ngọc Thúy</a><a href="blog-edu-single.html">Trường Hoa Sen </a><a href="/">Posted on 2nd December, 2018</a></span>
					<img itemprop="image" src="https://www.hoasen.edu.vn/wp-content/uploads/2022/02/0f237af9d0921ccc4583-289x434.jpg" alt="Image">
					<p>
						Với định hướng trở thành trường Đại học quốc tế chuyên biệt về quản trị kinh doanh, 
						du lịch và thiết kế nghệ thuật dành cho Sinh viên Việt Nam và khu vực, 
						HSU cung cấp một môi trường học tập quốc tế năng động, 
						sáng tạo và luôn gắn liền với thực tiễn của đời sống trong thời đại 4.0 liên tục thay đổi.</p>

					<p>Trường Đại học Hoa Sen mang đến cho sinh viên trải nghiệm bốn giá trị cốt lõi để làm chủ và khẳng định bản thân trong quá trình học tập và khi ra trường: Tính Quốc tế, Tinh thần khai phóng, Tinh thần doanh chủ, Tôn trọng sự khác biệt.

						Minh chứng rõ nét cho những gì chúng tôi đã và đang làm là việc HSU được đánh giá QS – Stars 5 sao về nghệ thuật và văn hóa trong đào tạo cũng như tỉ lệ sinh viên ra trường có việc làm và vị trí cao, cùng các chương trình đạt kiểm định chất lượng quốc tế có giá trị như: ACBSP, AUN-QA, MOET… Và những dự án kết nối doanh nghiệp sâu rộng, sự đầu tư của Nhà trường vào các đề án của hàng chục Câu lạc bộ sinh viên. Từ đó, những con người ưu tú (sinh viên, giảng viên, nhân viên) đang hăng say đóng góp mỗi ngày vào quản lý kinh tế, văn hóa, xã hội và vươn tầm ra thế giới.
						
						Chắc chắn chúng tôi đang tiếp tục trên lộ trình mới đầy hứng khởi để tạo dựng một môi trường quốc tế chất lượng với những trải nghiệm thực học  thực làm và nuôi dưỡng tính nghệ thuật, sự tử tế và tình yêu thương trong mỗi con người ở nơi đây.</p>

					<div class="share-section">
						<span>Share Via<a href="https://www.facebook.com/iiehsu"><i class="fab fa-facebook-f"></i></a></span>
					</div>
				</article>
				<section class="comment-section">
					<div id="comments" class="comments-area comment" itemprop="comment">
								<h3 class="comments-title">8 Comments</h3>
								<ol class="comment-list">
									<li class="comment even thread-even depth-1 parent">
										<article class="comment-body">
											<footer class="comment-meta">
												<div class="comment-author vcard">
													<img class="avatar photo" src="/static/images/comment-img1.jpg" alt="">
													<b class="fn"><a href="">Minh Châu </a></b>
												</div>
												<div class="comment-metadata">
													<a href="#"><time datetime="2013-10-02">October 09, 2015</time></a>
												</div><br>
											</footer>
											<div class="comment-content">
												<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</p>
											</div>
											<div class="reply">
												<a href="#" class="comment-reply-link">Reply</a>
											</div>
										</article>
										<ol class="children">
											<li class="comment odd alt depth-2 parent">
												<article class="comment-body">
													<footer class="comment-meta">
														<div class="comment-author vcard">
															<img class="avatar photo" src="/static/images/comment-img2.jpg" alt="">
															<b class="fn"><a href="#">John Doe</a></b>
														</div>
														<div class="comment-metadata">
															<a href="#"><time datetime="2013-10-02">October 09, 2015</time></a>
														</div><br>
													</footer>
													<div class="comment-content">
														<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. </p>
													</div>
													<div class="reply">
														<a href="#" class="comment-reply-link">Reply</a>
													</div>
												</article>
												<ol class="children">
													<li class="comment odd alt depth-2 parent">
														<article class="comment-body">
															<footer class="comment-meta">
																<div class="comment-author vcard">
																	<img class="avatar photo" src="/static/images/comment-img3.jpg" alt="">
																	<b class="fn"><a href="#">John Doe</a></b>
																</div>
																<div class="comment-metadata">
																	<a href="#"><time datetime="2013-10-02">October 09, 2015</time></a>
																</div><br>
															</footer>
															<div class="comment-content">
																<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. </p>
															</div>
															<div class="reply">
																<a href="#" class="comment-reply-link">Reply</a>
															</div>
														</article>
													</li>
												</ol>
											</li>
										</ol>
									</li>
									<li class="comment even thread-even depth-1 parent">
										<article class="comment-body">
											<footer class="comment-meta">
												<div class="comment-author vcard">
													<img class="avatar photo" src="/static/images/comment-img4.jpg" alt="">
													<b class="fn"><a href="#">Hilco de Roo</a></b>
												</div>
												<div class="comment-metadata">
													<a href="#"><time datetime="2013-10-02">October 09, 2015</time></a>
												</div><br>
											</footer>
											<div class="comment-content">
												<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. </p>
											</div>
											<div class="reply">
												<a href="#" class="comment-reply-link">Reply</a>
											</div>
										</article>
									</li>
								</ol>
					</div>
					<div class="comment-form">
						<h2>leave a comment</h2>
						<form>
							<input type="text" placeholder="Username*">
							<input type="email" placeholder="Email*">
							<textarea placeholder="Write a comment.....">
							</textarea>
							<input type="submit" value="Submit">
						</form>
						<p>Note: Your email address will not be published</p>
					</div>
				</section>
			</div>
		</div>
		<!-- Page-content closed -->
		<section class="query-section">
			<div class="container">
				<p>Any Queries? Ask us a question at<a href="tel:+840383067320"><i class="fas fa-phone"></i> +84 0383067320</a></p>
			</div>
		</section>
		<!-- End of Query Section -->
		<footer class="page-footer">
			<div class="footer-first-section">
				<div class="container">
					<div class="box-wrap">
						<header>
							<h1>about</h1>
						</header>
						<p>Edugate is a great start for and education. Personnel or oganization to start the online business with 1 click</p>

						<h4><a href="tel:+840383067320"><i class="fas fa-phone"></i> +84 0383067320</a></h4>
						<h4><a href="mailto:info@educationpro.com"><i class="fas fa-envelope"></i> info@educationpro.com</a></h4>
						<h4><i class="fas fa-map-marker-alt"></i>Số 8 Nguyễn Văn Tráng, Hồ Chí Minh, Việt Nam</h4>
					</div>

					

					<div class="box-wrap">
						<header>
							<h1>Up Coming Class</h1>
						</header>
						<div class="recent-course-wrap">
							<img src="/static/images/ui-ux.jpg" alt="Ui/Ux Designing">
							<a href="/courselisting"><div class="course-name">
								<h3>UI/UX Designer courses</h3>
								<p><span>$50</span> $40</p>
							</div></a>
						</div>
						<div class="recent-course-wrap">
							<img src="/static/images/ui-ux.jpg" alt="Ui/Ux Designing">
							<a href="/courselisting"><div class="course-name">
								<h3>UI/UX Designer courses</h3>
								<p><span>$50</span> $40</p>
							</div></a>
						</div>
					</div>

					<div class="box-wrap">
						<header>
							<h1>quick contact</h1>
						</header>
						<section class="quick-contact">
							<input type="email" name="email" placeholder="Your Email*">
							<textarea placeholder="Type your message*"></textarea>
							<button>send message</button>
						</section>
					</div>

				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href="mailto:ask@hoasen.edu.vn"><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href="https://www.facebook.com/iiehsu"><i class="fab fa-facebook-square"></i></a></li>
						<li><a href="https://www.facebook.com/iiehsu"><i class="fab fa-facebook-messenger"></i></a></li>
						<li><a href="https://www.youtube.com/watch?v=3YC3d3fl-34"><i class="fab fa-youtube"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2018 &copy; educationpro.com <span> | </span> Theme designed and developed by <a href="https://labtheme.com">Lab Theme</a></p>
				</div>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lightbox.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/all.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flexslider.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.rateyo.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js')}}"></script>
</body>
</html>
