<!DOCTYPE html>
<html>
<head>
	<title id="title_page"> </title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='owl.theme.default.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='owl.carousel.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.mmenu.all.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='meanmenu.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='inner-page-style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
<!-- <body class="full-width"> -->
	<div id="page" class="site">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:info@educationpro.com"><i class="fas fa-envelope"></i> info@educationpro.com</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+840383067320"><i class="fas fa-phone"></i> +84 0383067320</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href="mailto:ask@hoasen.edu.vn"><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href="https://www.facebook.com/iiehsu"><i class="fab fa-facebook-square"></i></a></li>
								<li><a href="https://www.facebook.com/iiehsu"><i class="fab fa-facebook-messenger"></i></a></li>
							</ul>
						</div>
						<div class="login-block">
							<a href="/login">Đăng nhập</a>
							
						</div>
					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap">
						<img src="/static/images/site-logo.jpg" alt="Logo Image">
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="/">Trang Chính</a></li>
								<li><a href="/event">Sự Kiện </a>
									<!-- <ul class="sub-menu"></ul> -->
								</li>
								<li ><a href="/courselisting">Khoá Học Ngắn Hạn </a></li>
								<li><a href="/gallery2">Lịch khai giảng</a></li>
								<li><a href="/contact">Liên Hệ</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Close -->
		<section class="page-content" id="course-page">
			<div class="container">
				<main class="course-detail">
					<h2 id="title_course"></h2>
					<header>
						<div class="course-box">
							<i class="far fa-clock"></i>
							<p>4 years</p>
							<p>(5 hours/day)</p>
						</div>

						<div class="course-box">
							<i class="fas fa-chalkboard-teacher"></i>
							<p>20 students/ class</p>
						</div>

						<div class="course-box">
							<i class="fas fa-money-check-alt"></i>
							<p>$ 50,00</p>
							<p>(Books are included)</p>
						</div>

						
					</header>
					<article>
						<section class="course-intro">
							<h3>Giới thiệu </h3>

							<p id="desc"></p>
						</section>

						<section class="course-objective">
							<h3>Mục tiêu</h3>
							<div id="muctieu">

							</div>
						</section>
					</article>					
				</main>
				<aside>
					<div class="reserve-course">
						<h2>Đặt trước khóa học này</h2>
						<form>
							<input type="text" placeholder="Your Name*" required>
							<input type="email" name="userEmail" placeholder="Your Email Address..." required>
							<input type="text" placeholder="Your Occupation*" required>
							<input type="text" placeholder="Choose course*" required>
							<textarea placeholder="Write your message"></textarea>
							<input type="submit" value="Submit">
						</form>
					</div>
					<!-- New Letter Ends -->
					<div class="recent-post">
						<h2>trainers</h2>
						<div class="post">
							<div class="post-wrap">
								<div class="img-wrap">
									<img src="/static/images/Ducanh.jpg" alt="Post /static/images">
								</div>
								<div class="post-content">
									<a href="blog-edu-single.html">
										<h3>Trương Đức Anh</h3>
										<p>Web Developer</p>
									</a>
									<span>
										<a href="https://www.facebook.com/tuyen.lethi.9083/"><i class="fab fa-facebook-f"></i></a>
										<a href="https://www.instagram.com/duan.nicky/"><i class="fab fa-instagram"></i></a>
										
									</span>
								</div>
							</div>

							<div class="post-wrap">
								<div class="img-wrap">
									<img src="/static/images/AnhDuy.jpg" alt="Post /static/images">
								</div>
								<div class="post-content">
									<a href="#">
										<h3>Nguyễn Hoàng Anh Duy</h3>
										<p>Android App</p>
									</a>
									<span>
										<a href="https://www.facebook.com/profile.php?id=100005059809899"><i class="fab fa-facebook-f"></i></a>
										<a href="https://www.instagram.com/anhduy2711/"><i class="fab fa-instagram"></i></a>
									</span>
								</div>
							</div>

							
						</div>
					</div>
					<!-- Recent Post Close -->
				</aside>
			</div>
		</section>
		

		
		<!-- End of Query Section -->
		<footer class="page-footer">
			<div class="footer-first-section">
				<div class="container">
					<div class="box-wrap">
						<header>
							<h1>about</h1>
						</header>
						<p>WebSite của chúng tôi cung cấp các khoá học đúng tiêu chuẩn cũng như đúng nhu cầu của các doanh nghiệp trong và ngoài nước cần.</p>

						<h4><a href="tel:+840383067320"><i class="fas fa-phone"></i> +84 0383067320</a></h4>
						<h4><a href="mailto:info@educationpro.com"><i class="fas fa-envelope"></i> info@educationpro.com</a></h4>
						<h4><i class="fas fa-map-marker-alt"></i>Số 8 Nguyễn Văn Tráng, Hồ Chí Minh</h4>
						<!-- <iFrame src="https://map.coccoc.com/map/291898860264544?borders=20.905111944444002%2C105.70787972222%2C21.112853888889%2C105.93691972222&query=s%E1%BB%91+8+nguy%E1%BB%85n+v%C4%83n+tr%C3%A1ng" width="680" height="480" >Nguyễn Văn Tráng, Hồ Chí Minh </iFrame> -->
					</div>
					<div class="box-wrap">
						<header>
							<h1>Lớp học dự kiến </h1>
						</header>
						<div class="recent-course-wrap">
							<img src="/static/images/ui-ux.jpg" alt="Ui/Ux Designing">
							<a href="/courselisting"><div class="course-name">
								<h3>UI/UX Designer courses</h3>
								<p><span>$50</span> $40</p>
							</div></a>
						</div>
						<div class="recent-course-wrap">
							<img src="/static/images/ui-ux.jpg" alt="Ui/Ux Designing">
							<a href="/courselisting"><div class="course-name">
								<h3>UI/UX Designer courses</h3>
								<p><span>$50</span> $40</p>
							</div></a>
						</div>
					</div>

					<div class="box-wrap">
						<header>
							<h1>Liên Hệ</h1>
						</header>
						<section class="quick-contact">
							<input type="email" name="email" placeholder="Địa chỉ email*">
							<textarea placeholder="Nhập thông tin cần hỗ trợ*"></textarea>
							<button>Thông tin liên hệ </button>
						</section>
					</div>

				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href="mailto:ask@hoasen.edu.vn"><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href="https://www.facebook.com/iiehsu"><i class="fab fa-facebook-square"></i></a></li>
						<li><a href="https://www.facebook.com/iiehsu"><i class="fab fa-facebook-messenger"></i></a></li>
						<li><a href="https://www.youtube.com/watch?v=3YC3d3fl-34"><i class="fab fa-youtube"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2018 &copy; educationpro.com <span> | </span> Theme designed and developed by <a href="https://labtheme.com">Lab Theme</a></p>
				</div>
			</div>
		</footer>
	</div>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lightbox.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/all.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flexslider.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.rateyo.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mmenu.all.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
	<script>
		let params = new URLSearchParams(location.search);
        const id = params.get('id')
		console.log(id);
		$.ajax({
			url: `${window.origin}/getDetailCourse?id=${id}`,
			type: 'GET',
			success:(data)=>{
				console.log(data);
				$('#title_course').append(`${data[0][1]}`)
				$('#desc').append(`${data[0][5]}`)
				$('#muctieu').html(`${data[0][4]}`)
				$('#title_page').append(`${data[0][8]}`)
			},
			error:(err)=>{
				console.log(err);
				alert('Lỗi hệ thống')
			}
		})
	
		
	</script>
</body>
</html>
