<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       
    </head>
    <body class="sb-nav-fixed">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/ROLE_ADMIN">HOME</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          CHỨC NĂNG
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="/ROLE_ADMIN/Account">QUẢN LÝ ACCOUNT</a></li>
                          <li><a class="dropdown-item" href="/ROLE_ADMIN/course">QUẢN LÝ KHÓA HỌC</a></li>
                            
                        </ul>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="#">TÀI KHOẢN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" id="dx">ĐĂNG XUẤT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active btn btn-secondary " style="color: white;" aria-current="page" href="#">THÊM KHÓA HỌC</a>
                  </li>

                 
                 
                </ul>
             
              </div>
            </div>
          </nav>

          <div class="container bg-light mt-2 p-5" style="border-radius: 10px;">
              
              
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">FLAG</th>
                    <th scope="col">EDIT</th>
                  </tr>
                </thead>
                <tbody id="data">
                   
                </tbody>
              </table>
              
             
          </div>

	    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/dx.js')}}"></script>
        <script>
            $.ajax({
              url: `${location.origin}/getCourse`,
              type:'POST',
              success:(data)=>{

                data.forEach((element,index) => {
                            if(element[13] == 1) {
                                let el =`
                                <tr>
                                    <th scope="col">${element[0]}</th>
                                    <th scope="col">${element[1]}</th>
                                    <th scope="col"><span class="badge badge-danger">ACTIVE</span></th>
                                    <th scope="col"><a class="btn btn-success" href="${window.origin}/ROLE_ADMIN/edit_course?id=${element[0]}">EDIT</a></th>

                                </tr>
                                `
                                $('#data').append(el)

                            }
                            else{
                                let el =`
                                <tr>
                                    <th scope="col">${element[0]}</th>
                                    <th scope="col">${element[1]}</th>
                                    <th scope="col"><span class="badge badge-secondary">DISABLE</span></th>
                                    <th scope="col"><a class="btn btn-success" href="${window.origin}/ROLE_ADMIN/edit_course?id=${element[0]}">EDIT</a></th>
                                </tr>
                                `
                                $('#data').append(el)
                            }
                          

                        });
                
              },
              error:(err)=>{
                console.log(err);
              }
            })
        </script>
    </body>
</html>
